:root {
    --dark-red: #8f0000ff;
    --amber: #ffbf1fff;
    --cerulean: #3e7fa3ff;
    --indigo-dye: #1d3d5eff;
    --hookers-green: #527a6bff;
    --primary-font: 'Inter', sans-serif;
    --title-font: 'Poppins', sans-serif;
    --small-font-size: 12px;
    --primary-font-size: 15px;
    --title-font-size: 20px;
    --header-font-size: 40px;
    --primary-weight: 300;
    --title-weight: 600;
    --white-font: #fff;
    --gray-font: #757575;
    --dark-font: #000;
    --main-icon-font-size: 30px;
    --mobile-header-font-size: 30px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 20px 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 9999;

}

.main-header {
    font-weight: var(--title-weight);
    font-size: var(--header-font-size);
    font-family: var(--title-font);
}

.title_header {
    font-weight: var(--title-weight);
    font-size: var(--title-font-size);
    font-family: var(--title-font);
}

.text-body {
    font-weight: var(--primary-weight);
    font-family: var(--primary-font);
    line-height: 30px;
}

.light_text,
.light-text {
    color: var(--gray-font);
    font-weight: var(--primary-weight);
    font-family: var(--primary-font);
}

.high-light-text {
    font-size: var(--small-font-size);
    background-color: #c6c6c6;
    padding: 5px;
    border-radius: 5px;
}

header nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
    color: var(--gray-font);
    font-weight: var(--primary-weight);
    font-size: var(--primary-font-size);
    transition: all 0.5s ease;
}

a:hover {
    color: var(--cerulean);
    text-decoration: underline;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
}

.dropdown-toggle span {
    transition: all 0.5s ease;
    color: #757575;
}

.dropdown:hover span {
    transform: rotateZ(-90deg);
}

.dropdown-toggle:hover a {
    text-decoration: underline;
    color: var(--cerulean);
}

.dropdown:hover .dropdown-list {
    display: flex;
}

.dropdown-menu {
    position: absolute;
}

.dropdown-list {
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    background-color: var(--white-font);
    width: max-content;
}

.main_btn,
.secondary_btn {
    background-color: var(--indigo-dye);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.main_btn:hover,
.secondary_btn:hover {
    text-decoration: none;
}

.main_btn:hover {
    color: var(--white-font) !important;
}

.secondary_btn:hover {
    color: var(--indigo-dye) !important;
}

.secondary_btn {
    border: 1px solid rgb(51, 105, 158);
    color: var(--indigo-dye);
    background: none;
}

.light_btn {
    background-color: var(--cerulean);
}

.menu {
    font-size: var(--main-icon-font-size);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease-out;
    display: none;
}

.menu:hover {
    background-color: var(--indigo-dye);
    color: var(--white-font);
}

.menu_banner {
    display: none;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../images/qui-nguyen-giL2fHNr3Lc-unsplash-min.jpg);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position-y: -150px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    padding: 50px;
    margin-top: -80px;
}

.banner_description,
.feature-description,
.location-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 1;
}

.banner_description {
    width: 70%;
    margin: auto;
}

.light-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000009f;
}

.call_to_action {
    display: flex;
    align-items: center;
    gap: 20px;
}

.banner .call_to_action {
    margin: auto;
}

.banner .main-header,
.banner .text-body {
    margin: auto;
    text-align: center;
}

.banner .main-header,
.banner .text-body,
.banner .call_to_action a {
    color: var(--white-font);
    border-color: var(--white-font);
}

.feature-section .sqarre_image_container,
.location-section .sqarre_image_container,
.statistic-section .sqarre_image_container {
    width: 500px;
    height: 500px;
    border-radius: 5px;
    overflow: hidden;
    flex-grow: 1;
    background-image: url(../images/hotel2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
}

.statistic-section .sqarre_image_container {
    background-image: url(../images/samantha-gades-fIHozNWfcvs-unsplash-min.jpg);
}

/* .sqarre_image_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
.feature-section,
.location-section,
.statistic-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.galery-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.galery .item {
    width: 30%;
    min-width: 200px;
    aspect-ratio: 3 / 3;
    border-radius: 5px;
    overflow: hidden;
    flex-grow: 1;
}

.galery .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feature-description,
.location-description,
.statistic {
    width: 50%;
    flex-grow: 1;
}

.statistic {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.statistic-items {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
}

.statistic-items .item {
    width: 300px;
}

.service-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.service-section .main-header {
    width: 70%;
}

.service-section>.text-body {
    width: 70%;
}

.services {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.services .item {
    flex-basis: 30%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.services img {
    width: 50px;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contact-detail {
    display: flex;
    margin-top: 50px;
    gap: 200px;
}

.contact-detail {
    display: flex;
}

.contact-detail img {
    width: 35px;
}

.contact-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contact-list .item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact .sqarre_image_container {
    flex-basis: 50%;
    background-image: url(../images/hotel3.jpg);
    flex-grow: 1;
    border-radius: 5px;
    /* background-attachment: fixed; */
    background-size: cover;
    filter: saturate(130%);
}

.location-section .sqarre_image_container iframe {
    width: 100%;
    height: 100%;
}

.team-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.team {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 50px;
}

.team .item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 30%;
    min-width: 200px;
    flex-grow: 1;
}

.team .item .sqarre_image_container {
    width: 100%;
    aspect-ratio: 3/3;
    overflow: hidden;
    border-radius: 5px;
}

.team .item .sqarre_image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team .item .social_media {
    display: flex;
    align-items: center;
    gap: 20px;
}

.team .item .social_media img {
    width: 20px;
}

footer {
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

footer img {
    width: 20px;
}

.footer_nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer_nav nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer_nav .social_media {
    display: flex;
    align-items: center;
    gap: 20px;
}

.link-site-term {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.about_banner {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.about_banner .text-body {
    width: 70%;
}

.about .sqarre_image_container {
    background-image: url(../images/hotel4.jpg);
    background-position: center;
}

.testimony-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.testimony-section img {
    width: 20px;
}

.testimony {
    display: flex;
    align-items: stretch;
    gap: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.testimony .item {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    min-width: 200px
}

.rooms {
    background-image: url(../images/roberto-nickson-emqnSQwQQDo-unsplash-min.jpg);
}

.room-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.room-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    align-items: stretch;
}

.room-list .item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 30%;
    min-width: 200px;
    flex-grow: 1;
}

.item {
    justify-content: space-between;
}

.room-list .item .text-body {
    margin-bottom: auto;
}


.room-list .item .sqarre_image_container {
    width: 100%;
    aspect-ratio: 3/3;
    overflow: hidden;
    border-radius: 5px;
}

.room-list .item .sqarre_image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.room-list .item .secondary_btn {
    text-align: center;
    color: var(--dark-font);
    border-color: var(--dark-font);
}

.advantage-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.advantage-description {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.advantage-description>p {
    flex-basis: 40%;
    flex-grow: 1;
    min-width: 300px;
}

.advantage-header {
    flex-basis: 40%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.advantage-section .sqarre_image_container {
    width: 100%;
    aspect-ratio: 7/3;
    border-radius: 5px;
    overflow: hidden;
}

.advantage-section .sqarre_image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pricing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.pricing {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    width: 100%;
}

.pricing .item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 30%;
    padding: 30px;
    border: 1px solid var(--dark-font);
    flex-grow: 1;
    min-width: 250px;
}

.pricing .item ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pricing .item .main_btn {
    text-align: center;
    margin-top: auto;
}

.FAQ-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.FAQ {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.FAQ .item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid var(--dark-font);
    padding: 20px;
    border-radius: 5px;
}

.galery-section .i {
    gap: 20px;
}

.new-question {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.new-question .secondary_btn {
    width: fit-content;
    border-color: var(--dark-font);
    color: var(--dark-font);
}

.room_banner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: -80px;
}

.room_banner .sqarre_image_container,
.room-type-section .sqarre_image_container {
    width: 100%;
    aspect-ratio: 3/1.2;
    border-radius: 5px;
    overflow: hidden;
}

.room_banner .sqarre_image_container img,
.room-type-section .sqarre_image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.room-type-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex-wrap: wrap;
}

.room-type-description {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.room-type-description .main-header {
    flex-basis: 40%;
    min-width: 300px;
    flex-grow: 1;
}

.room-type-description .text-body {
    flex-basis: 40%;
    flex-grow: 1;
}

.benefite-room-section {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.benefite-room-section-description {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}

.benefite-room-section .sqarre_image_container {
    width: 500px;
    aspect-ratio: 1;
    flex-grow: 1;
    background-image: url(../images/WhatsApp\ Image\ 2024-06-13\ at\ 08.06.00_f0e7f37d.jpg);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}

.benefite-room-section .main_btn {
    width: fit-content;
}

.room-testimony {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap-reverse;
}

.room-testimony .sqarre_image_container {
    width: 500px;
    aspect-ratio: 1;
    flex-grow: 1;
    overflow: hidden;
    border-radius: 5px;
}

.room-testimony .sqarre_image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.room-testimony .testimony {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    gap: 20px;
}

.testimony .starts {
    display: flex;
    align-items: center;
    gap: 5px;
}

.testimony .starts img {
    width: 20px;
}

.Reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: -80px;
}

.Reservation>h1,
.Reservation>p {
    text-align: center;
}

.Reservation form {
    width: 100%;
    max-width: 530px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Reservation .step-line {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 300px;
    flex-grow: 1;
}

.Reservation .step {
    border: 1px solid var(--dark-font);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-font);
    position: relative;
    z-index: 1;
}

.Reservation .step-line hr {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid var(--dark-font);
}

.step-form {
    display: none;
    flex-direction: column;
    align-items: start;
    width: 100%;
    align-items: center;
    gap: 20px;
}

.error-message {
    color: var(--dark-red);
}

.step-form input,
.step-form textarea,
.step-form select {
    align-self: flex-start;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--gray-font);
}

.step-form textarea {
    height: 100px;
}

.Reservation button {
    padding: 10px;
    width: 100%;
    background-color: var(--dark-font);
    color: var(--white-font);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.price_preview {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.price_preview .details .item {
    display: flex;
    justify-content: space-between;
}

form .back-button {
    color: var(--dark-font);
    background: none;
    border: 1px solid var(--dark-font);
}

#step1 {
    background-color: var(--dark-font);
    color: var(--white-font);
}

@media(max-width: 1276px) {
    body {
        padding: 20px 100px;
    }
}

@media(max-width: 1076px) {
    body {
        padding: 20px;
    }

    .room-swiper .navigation {
        display: none !important;
    }

    .room-swiper {
        aspect-ratio: 0.4375 !important;
        height: max-content;
    }

    .room-slide {
        flex-direction: column;
    }

    .room-slide .sqarre_image_container,
    .room-slide .room-image-description {
        width: 100% !important;
        height: 50% !important;
    }

    header .main-header {
        margin-right: auto;
    }

    header nav {
        display: none;
    }

    header .main_btn {
        display: none;
    }

    .menu {
        display: flex;
    }

    .mobile_v {
        flex-direction: column;
        background-color: var(--indigo-dye);
        align-items: start;
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        padding: 20px;
        z-index: 2;
        position: relative;
    }

    .mobile_v nav {
        display: flex;
        flex-direction: column;
    }

    .mobile_v .menu {
        color: var(--white-font);
        position: absolute;
    }

    .mobile_v .main-header {
        display: none;
    }

    .mobile_v .menu_banner {
        display: flex;
        width: 100%;
        height: 200px;
        border-radius: 5px;
        overflow: hidden;
    }

    .menu_banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .mobile_v nav {
        align-items: flex-start;
    }

    .mobile_v a {
        color: var(--white-font);
    }

    a:hover {
        text-decoration: none;
    }

    .dropdown-toggle {
        display: none;
    }

    .dropdown-list {
        display: flex;
        border: none;
        padding: 0;
        gap: 20px;
        background: none;
    }

    .dropdown-menu {
        position: inherit;
    }

    .mobile_v .main_btn {
        display: flex;
        padding: 0;
    }

    .main-header {
        font-size: var(--mobile-header-font-size);
    }

    .banner {
        height: max-content;
    }

    .banner_description {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .sqarre_image_container {
        background-position-y: 0px;
    }

    .footer_nav {
        flex-direction: column;
        align-items: center;
    }

    .footer_nav nav {
        flex-direction: column;
    }

    .link-site-term {
        flex-direction: column;
        align-items: center;
    }

    .advantage-section .sqarre_image_container {
        aspect-ratio: 3/3;
    }

    .room-type-section .sqarre_image_container,
    .room_banner .sqarre_image_container {
        aspect-ratio: 1;
    }

    .benefite-room-section .main_btn {
        width: 100%;
        text-align: center;
    }
}

.hidden {
    display: none;
}

.blur-filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(4px);
    display: none;
    z-index: 2;
}

#facebook-logo {
    width: 28px;
}

.room-guide {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: -70px;
}

.room-guide>h1,
.room-guide>p {
    text-align: center;
}

.room-swiper {
    width: 100%;
    aspect-ratio: 16/7;
    border-radius: 10px;
    overflow: hidden;
}

.room-swiper .swiper-wrapper {
    height: 100%;
    width: 100%;
}

.room-slide {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.room-swiper:hover .navigation {
    display: flex !important;
}

.room-slide .sqarre_image_container {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.room-image-description {
    width: 50%;
    padding: 50px;
    background-color: #201f1f;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 50px;/
}

.room-slide .sqarre_image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navigation {
    background-color: #5f5f5f;
    padding: 10px !important;
    color: #fff !important;
    width: max-content !important;
    height: 50px !important;
    border-radius: 5px;
    display: none !important;
}

.pagination {
    background-color: #5f5f5f;
    padding: 10px !important;
    --swiper-theme-color: #fff !important;
    border-radius: 5px;

}

.navigation::after {
    display: none !important;
}